/* Classes générales et variables */

.bold500{
    font-weight: 500;
}

.bold600{
    font-weight: 700;
}

:root{
    --colorIngredient: #3282F7;
    --colorAppareil: #68D9A4;
    --colorUstensile: #ED6454;
}

input[type="text"]{
    border: none;
    background-color: transparent;
    height: 69px;
}

/* Mise en forme du body */

body{
    max-width: 1440px;
    margin: auto;
    font-size: 18px;
}

/* Mise en forme du logo/header */

header{
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

header img#logo{
    height: 93px;
    width: 278px;
}

h1{
    display: none;
}

/* Mise en forme du contenu principal */

#main{
    padding: 0;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

/* Mise en forme de la recherche principale */

.searchbar{
    padding: 0px;
    margin: 0px;
    background-color: #E7E7E7;
    height: 69px;
    border-radius: 5px;
    position: relative;
    display: flex;
    width: 100%;
}

#inputMainSearch{
    width: 100%;
    padding-left: 20px;
    outline-color: #7a7a7a;
}

#inputMainSearch::placeholder{
    color: black;
    opacity: 0.4;
}

.iconLoupe::before{
    position: absolute;
    top: 35px;
    right: 20px;
    cursor: pointer;
}

/* Mise en forme des tags */

#divTags{
    margin: 0px;
    padding: 0px;
    column-gap: 10px;
    row-gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.tag{
    color: white;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 0px 10px;
}

div.tag i::before{
    cursor: pointer;
}

div.ingredientTag{
    background-color: var(--colorIngredient);
}

div.appareilTag{
    background-color: var(--colorAppareil);
}

div.ustensileTag{
    background-color: var(--colorUstensile);
}

/* Mise en forme des filtres */

#divFilters{
    margin: 0px;
    padding: 0px;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filterBlock{
    height: 69px;
    max-width: 600px;
    color: white;
    border-radius: 5px;
    padding: 0px;
    column-gap: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#filterIngredients.active, #filterAppareils.active, #filterUstensiles.active{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.filterBlock i::before{
    cursor: pointer;
}

.filterButton{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 10px;
    column-gap: 30px;
    width: 100%;
    height: 100%;
}

.filterList, .inputFilter, .filterArrowUp, .active .filterArrowDown, .active span{
    display: none;
}

.active .filterArrowUp, .active .filterList, .active .inputFilter{
    display: flex;
}

.divArrow{
    display: flex;
    width: 15px;
}

.active .filterList{
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 15px;
    padding: 10px 10px;
    z-index: 1;
}

#filterIngredients, #filterIngredients .filterList{
    background-color: var(--colorIngredient);
}

#filterAppareils, #filterAppareils .filterList{
    background-color: var(--colorAppareil);
}

#filterUstensiles, #filterUstensiles .filterList{
    background-color: var(--colorUstensile);
}

.inputFilter{
    outline: none;
    width: calc(100% - 45px);
    margin: 0px;
}

.inputFilter::placeholder{
    color: white;
    opacity: 0.8;
}

.filterItem{
    display: flex;
    align-items: center;
    width: 180px;
    cursor: pointer;
}

/* Mise en forme de la section qui contient les recettes */

#recipeSection{
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    row-gap: 20px;
    column-gap: 3.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Article contenant une recette */
#recipeSection article{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    width: 31%;
}

/* Partie qui contiendra plsu tard les images des recettes, actuellement seul un fond gris est mis en place */
.recipePicture{
    height: 180px;
    width: 100%;
    margin: 0px;
    background-color: #C7BEBE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Partie contenant toutes les informations de la recette */
.recipeInfos{
    width: 100%;
    min-height: 250px;
    margin: 0px;
    background-color: #E7E7E7;
    padding : 15px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    column-gap: 20px;
}

/* Nom de la recette */
.divRecipeName{
    padding: 0px;
    width: calc(100% - 145px);
    display: flex;
    align-items: center;
}

/* Temps de préparation de la recette */
.divTimer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 95px;
}

/* Ingrédients et instructions pour la recette */
.recipeIngredients, .recipeDescription{
    width: calc(50% - 10px);
    height: fit-content;
    font-size: 13px;
    padding: 0px;
    margin-bottom: 0px;
}

/* Troncage des paragraphes de description */
.recipeDescription{  
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow: hidden;
} 
